.popup-overlay {
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:50%;
  height:50%;
  left:25%; 
}

.popup-overlay.active{
  visibility:visible;
  text-align:center;
}

.popup-content {
 visibility:hidden;
}

.popup-content.active {
  visibility:visible;
}

button{
  display:inline-block;
  vertical-align:middle;
  margin:.20rem;
  font-size: 1rem;
  color:c#666666;
  background: #ffffff;
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}
