<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" />
  <title>VITA Search Volunteers</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>

  <html>
<head>
<head>
  <meta charset="utf-8"/>
  <title>VITA Search Volunteers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" src="{{ url_for('static',filename='styles/main.css') }}">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
 <header>
     <div class ="heading" ></div>
     <div class ="heading2" ></div>
     <div class ="heading3" ></div>

     <div class ="fb" ></div>
     <div class ="img2" ></div>
     <div class ="twit" ></div>

     <div class ="in" ></div>
     <div class ="youtube" ></div>
     <div class ="border"></div>
     <div class ="donate"></div>
     <div class ="vol"></div>
     <div class ="share"></div>
     <p class= "donate"> </p

    </header>
  <section class="container">
    <div class="row">
       <figure class="col-sm-12">
         <h1> Search volunteers </h1>
       </figure>
    </div>
       <figure class="col-sm-9">
        <div id="tableContainer" class="tableContainer">
<table class="scrollTable" id="admin-table">
<thead class="fixedHeader">
  <tr>
    <th>Name</th>
    <th>Event</th>
    <th>Phone</th>
    <th>Info</th>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[8]}}</td>
    <td>{{item[6]}}</td>
    <td>  <input id="button" type="submit" name="submit" value="info"> </td>
  </tr>
  {% endfor %}
</table>
         </div>
       <div class="row">
      <button id="export"> Export to Spreadsheet </button>
    </div>
      <figure class="col-sm-12" id="info">
         <div class="col-sm-8">
           <!-- where to put info -->
           <p> Name: </p>
           <p> Address: </p>
           <p> City: </p>
           <p> State: </p>
           <p> Zip Code: </p>
           <p> Email: </p>
           <p> Phone: </p>
           <p> Date of Birth: </p>
           <p> Volunteering for: </p>
           <p> Other languages spoken: </p>
        </div>
        <div class="col-sm-4" id="button-box">
           <button> Edit Information </button>
           <br></br>
           <button id="delete"> Delete Volunteer </button>
        <div class="col-sm-12" id="delete-box">
          <p>Are you sure you want to delete?</p>
            <button id="delete-yes"> Yes </button>
          <br></br>
           <button id="delete-no"> No  </button>

        </div>
        </div>

		  </div>
    </figure>
	</figure>
      <figure class="col-sm-3" id="sort-box">
        <h3> Sort by: </h3>
        <div class=row>
        <h4> Event </h4>
          <form action= "{{ url_for('adminPage') }}" method="POST" class="adminPage" name=eventForm>
        <input type = "checkbox" name="cc">
          <label for "cc"> Campaign Committee </label> <br>
             <input type = "checkbox" name="jandb">
          <label for "jandb">Jeans and Bling</label> <br>
             <input type = "checkbox" name="tt">
          <label for "tt">Turkey Trot</label> <br>
             <input type = "checkbox" name="stheb">
          <label for "stheb">Stuff the Bus</label> <br>
             <input type = "checkbox" name="ae">
          <label for "ae">Agency Evaluation (Site Visit)</label> <br>
             <input type = "checkbox" name="vftp">
          <label for "vftp">VITA Free Tax Prep</label> <br>
             <input type = "checkbox" name="ofta">
          <label for "ofta">One of the Agencies</label> <br>
             <input type = "checkbox" name="other">
          <label for "other">Other</label> <br>
          <button type="submit"> Sort </button>
          </form>
          </select>
        </div>
       <div class=row>
          <h4> Times </h4>
         <form>
            <input type = "checkbox" name="9to10">
          <label for "9to10">9:00-10:00</label> <br>
            <input type = "checkbox" name="10to11">
          <label for "10to11">10:00-11:00</label> <br>
          <input type = "checkbox" name="11tonoon">
          <label for "9to10">11:00-Noon</label> <br>
          <input type = "checkbox" name="noonto1">
          <label for "noonto1">Noon-1:00</label> <br>
          <input type = "checkbox" name="1to2">
          <label for "1to2">1:00-2:00</label> <br>
          <input type = "checkbox" name="2to3">
          <label for "2to3">2:00-3:00</label> <br>
         </form>
        </div>
        <div class=row>
          <h4>Languages</h4>
          <select>
          <option>Spanish </option>
	        <option>French </option>
	        <option>German </option>
          <option>ASL</option>
	        <option>Mandarin</option>
	        <option>Hindi</option>
	        <option>Arabic</option>
          </select>
        </div>
        <div class=row>
          <h4>Volunteer Name</h4>
          <form method="POST">
            <input name="VolName" />
            <input type="submit" />
          </form>

        </div>
        <div class=row>
          <button type="submit"> Sort </button>

      </figure>
  </section>

</body>
<script  src="{{ url_for('static', filename='main.js') }}"></script>
</html>
