<html>
  <head>
    <meta charset='utf-8'/>
    <title>United Way Events</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/events.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><br><br>
  </head>
  <body>
    <section id="uw-image" class="container">
      <img class="center-block" src="https://www.uwcark.org/sites/uwcark.org/files/United%20Way%20Special%20Events_0_0.png"/><br><br>
    </section>
    <section class='container'>
      <div class='row' style="text-align: center;">
        <figure class='col-sm-6'>
          <h2>Jeans and Bling</h2>
          <img id="jeans" src="https://www.uwcark.org/sites/uwcark.org/files/Bourbon%2C%20Boots%20%26%20Brews%20%285%29.jpg" style="width:455px;height:256px"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
        <figure class='col-sm-6'>
          <h2>Stuff the Bus</h2>
          <img id="bus" src="https://www.uwcark.org/sites/uwcark.org/files/Wood-Buffalo-Food-Bank-Association-Stuff-the-Bus-Logo-Nov-1-2013.png" style="width:455px;height:256px"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
      </div>
    </section>
    <section class='container'>
      <div class='row' style="text-align: center;">
        <figure class='col-sm-6'>
          <h2>Campaign Coordinator Bootcamp</h2>
          <img id="bootcamp" src="https://www.uwcark.org/sites/uwcark.org/files/resizedimage250106-bootcamp.png" style="width:455px;height:256px"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
        <figure class='col-sm-6'>
          <h2>CEO Luncheon</h2>
          <img id="lunch" src="https://www.uwcark.org/sites/uwcark.org/files/live-united-footer.png" style="width:455px;height:256px"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
      </div>
    </section>
    <section class='container'>
      <div class='row' style="text-align: center;">
        <figure class='col-sm-6'>
          <h2>Pillar Party</h2>
          <img id="pillar" src="https://free-images.com/sm/f72e/bus_school_school_bus_0.jpg"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
        <figure class='col-sm-6'>
          <h2>Turkey Trot</h2>
          <img id="turkey" src="https://www.uwcark.org/sites/uwcark.org/files/Publication7_0.jpg" style="width:455px;height:256px"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
      </div>
    </section>
    <section class='container'>
      <div class='row' style="text-align: center;">
        <figure class='col-sm-6'>
          <h2>Free Tax Preparation</h2>
          <img id="tax" src="https://www.uwcark.org/sites/uwcark.org/files/Picture1_1.png" style="width:455px;height:256px"/><br><br>
          <button class="details-btn">More Details</button>
        </figure>
        <figure class='col-sm-6'>
          <h2>#GiveUnitedAR</h2>
          <img id="give" src="https://free-images.com/sm/f72e/bus_school_school_bus_0.jpg"/><br><br />
          <button class="details-btn">More Details</button>
        </figure>
      </div>
    </section>
    <section class="container">
      <div id="popup" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h3>Event Name</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque magna lacus, molestie non auctor vel, porttitor ut metus. Mauris at velit accumsan, placerat nisi sed, congue sem. Maecenas porttitor, urna et volutpat dapibus, ex magna pellentesque purus, in finibus enim nunc et nulla. Etiam vel ipsum sem. Etiam consequat, ligula in consequat viverra, leo magna sollicitudin lacus, quis ullamcorper ante est sit amet dolor. Maecenas leo tortor, porta molestie erat vitae, mollis imperdiet dolor. Mauris id consequat nulla, volutpat scelerisque nisl. Sed a orci ut enim malesuada pretium.<br></p>
          <form>
            Name:<br>
            <input type="text" name="name"><br>
            Address:<br>
            <input type="text" name="address"><br>
            City:<br>
            <input type="text" name="city"><br>
            State:<br>
            <input type="text" name="state"><br>
            ZIP Code:<br>
            <input type="text" name="zip"><br>
            Email Address:<br>
            <input type="text" name="email"><br>
            Phone Number:<br>
            <input type="text" name="phone"><br>
            Date of Birth:<br>
            <input id="date" type="date"><br />
            <!-- This would probably be better as a dropdown. -->
            Volunteering for:<br>
            <select name="Events">
              <option value="Jeans and Bling">Jeans and Bling</option>
              <option value="Stuff the Bus">Stuff the Bus</option>
              <option value="Campaign Coordinator Bootcamp">Campaign Coordinator Bootcamp</option>
              <option value="CEO Luncheon">CEO Luncheon</option>
              <option value="TurkeyTrot">TurkeyTrot</option>
              <option value="Free Tax Preparation">Free Tax Preparation</option>
            </select>
            <br />
            <!-- This would probably be better as radio buttons. -->
            Languages Spoken:<br>
            <input type="checkbox" name="language" value="English">English<br>
            <input type="checkbox" name="language" value="Spanish">Spanish<br><br />
            <input type="submit" value="Submit">
        </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='events.js') }}"></script>
  </body>
</html>
