.floaters {
  float: left;
  margin: 10px;
}

.row {
  padding: 10px
}

.table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hide-button {
  background: none;
  border: none;
  text-decoration: underline;
}

#sort-box {
  border: 5px solid #dddddd;
}
